/* Main Styles */


/*ID Styles*/

#bootstrapOverride {
    color: #FFF;
}

/* Class Styles */

.container {
    text-align: center;
}

.wrapper {
  min-height: calc(100vh - 350px);
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.mainHeader {
    font-family: 'Quicksand', sans-serif;
    height: 260px;
    padding: 2em;
    line-height: 2em;
    background:
            linear-gradient(#EFEFEF, transparent 90%),
            linear-gradient(120deg, #EFEFEF, transparent),
            #EFEFEF url('../img/typewriter.jpg') no-repeat center;
    background-size: cover;
    border-bottom: .3em solid #FF383F;
    margin-bottom: 1em;
}

.mainHeader h1 {
    font-size: 3em;
    text-shadow: 0 2px 2px rgba(1, 1, 1, .3);
}

.mainHeader h2 {
    font-size: 1.3em;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
    color: #000;
}

.title {
    margin: 1.2em;
}

.title h3 {
    font-size: 1.4em;
}

.background {
  margin: 0 auto;
  width: 96%;
  margin-bottom: .3em;
  font-family: 'Quicksand', sans-serif;
  background-color: #CAEBF2;
  border-bottom: .01em solid #FF383F;
  border-radius: 10px;
  padding: .1em;
  color: #FFF;
  /*width: 100%;*/
  text-shadow: 1px 1px 1px rgba(0, 2, 2, .6);
}

.labelInput {
    font-size: .9em;
}

.mainFooter {
  font-size: .75em;
  padding-top: 50px;
  height: 80px;
  border-bottom: solid .3em #FF383F;
}

.card {
  min-height: 625px;
}


/* Media Queries */

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

    #mainHeader h2 {
        font-size: 1.6em;
   }


}

@media only screen and (min-width: 991px),
       only screen and (min-width: 1400px) and (orientation: landscape) {

    #cardOverride {
        font-size: 1.2em;
    }

    .labelInput {
        font-size: 1em;
    }

    .buttonCard {
      position: absolute;
      bottom: 10px;
      margin: 0 auto;
      width: 90%
    }


}


/* Color Schemes */

/*SKY
#CAEBF2

CARBON
#A9A9A9

WATERMELON
#FF383F

NEUTRAL
#EFEFEF*/
